/*CONTAINERS APENAS CUIDANDO DO LAYOUT PRINCIPAL*/

.containerpaitemas{
    text-align: center;
    padding: 60px 20px;
}

.containertemas{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.temascontainer{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

/*FIM*/
.temacard{
    border: 1px solid black;
    border-radius: 10px;
    max-width: 350px;

    transition: transform 0.3s;
    padding: 40px;
}
.temacard:hover{
    transform: translateY(-2px);
}
.link{
    display: inline-block;
    /*COM ESTE ESTILO O LINK NEXTJS PASSA A NÃO SOBREPOR OS OUTROS ELEMENTOS*/
    text-decoration: none;
    cursor: pointer;
    margin: 5px;
    padding: 8px 18px;

    border: 1px solid black;
    border-radius: 20px;
}
.link:hover{
    opacity: 0.5;
}
.link:visited{
    color: black;
}